*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro','Josefin Sans', sans-serif;
}

body{
    /* background: url("https://c4.wallpaperflare.com/wallpaper/726/754/357/kali-linux-kali-linux-nethunter-linux-unix-lenovo-hd-wallpaper-preview.jpg");

    background-repeat: no-repeat;

    background-size: contain; */


    /* background: linear-gradient(to bottom left,rgba(235 ,3,255,0.43) , rgba(0, 81, 119, 0.609),rgba(45,0,43,0.82)); */
    
    background: linear-gradient(4deg,rgb(62,62,62) , rgb(33,33,33),rgb(49,49,49));

    /* background: rgb(146,141,241);
    background: linear-gradient(to bottom, rgba(146,141,241,1) 0%, rgba(119,119,240,1) 31%, rgb(14, 118, 139) 100%); */
    border: 2px solid black;

}

.header{
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 20px;
    margin-bottom: 20px;
    height: 70px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.list{
    float: left;
    list-style:none;
    padding: 5px;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
}

#search{
    position: relative;
    right: -320px;
    bottom: -20px;
    width: 157px;
    height: 25px;
}


.login{
    display: inline-block;
    position: relative;
    left: 467px;
    bottom: 15px;
    font-size: 31px;
}

.log-in:hover{
    color: lightslategray;
}
.anc:hover{
    color: lightslategray;
}

.list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* .h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    color: #3050f1;
    -webkit-text-stroke-color: #151515;
    -webkit-text-stroke-width: 1px;
} */

.head-img{
    width: 650px;
    height: 50px;
    position: relative;
    left: 380px;
}

h2[class=sub-Head]{
    margin: 20px 0px 10px 0px;
    text-decoration: underline;
    color: rgb(228, 228, 228);
}

.sub-Head:hover{
    color:rgba(198, 255, 92, 0.849);
}

.main-content{
    color: rgb(251, 251, 251);
    font-weight: 550;
}

.li:first-child{
    color:rgb(81, 255, 0);
}

.li:last-child{
    color: darkgoldenrod;
}

.li:nth-child(2){
    color: darkred;
}

.ulC:only-child{
    background-color: rgb(191, 255, 191);
}

#link1:link{
    background-color: rgb(199, 199, 199);
    color: rgb(43, 189, 226);
}

#link2:visited{
    background-color: rgb(200, 200, 200);
    color: rgb(70, 226, 43);
}

.image{
    border: 6px solid rgba(0, 25, 41, 0.863);
    width: 300px;
    height: 150px;
}

.test-container{
    width: 500px;
    height: 250px;
    padding: 10px;
    /* background: linear-gradient(to right,rgb(14, 87, 223) , rgba(30, 142, 194, 0.418)); */
}

